div[component="NoteCard"] {
  min-width: 250px;

  img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  i.oi-location {
    margin-right: 10px;
  }

  .card-image {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .card-body {
    padding-top: 10px;
    width: 100%;
  }

  .rotate-90 {
    transform: rotate(90deg) scale(1.5, 1.5);
  }

  @media (min-width: 576px) {
    margin-bottom: 20px !important;
  }
}